<div style="padding:30px;">
  <div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="16">
      <nz-card nzTitle="Add todo">
        <app-todo-form (onSubmit)="createTodo($event)" [loadingSubmitFormStatus]="loadingSubmitFormStatus$ | async"></app-todo-form>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="8">
      <ng-template #allTodoTitle>
        All
        <nz-badge nzColor="#ff4d4f"></nz-badge>
        <nz-badge nzColor="rgb(45, 183, 245)"></nz-badge>
        <nz-badge nzColor="rgb(82, 196, 26)"></nz-badge>
      </ng-template>
      <nz-card [nzTitle]="allTodoTitle">
        <cdk-virtual-scroll-viewport itemSize="73" style="height: 200px">
          <!-- @todo xử lý case error -->
          <app-todo-mini-list *ngIf="(loadingTodosStatus$ | async) === 'idle'; else skeletonList" [todos]="todos$ | async" (onUpdateTodo)="onUpdateTodo($event)"></app-todo-mini-list>
        </cdk-virtual-scroll-viewport>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="8">
      <ng-template #pendingTodoTitle>
        Pending
        <nz-badge nzColor="#ff4d4f"></nz-badge>
      </ng-template>
      <nz-card [nzTitle]="pendingTodoTitle">
        <cdk-virtual-scroll-viewport itemSize="73" style="height: 200px">
          <app-todo-mini-list *ngIf="(loadingTodosStatus$ | async) === 'idle'; else skeletonList" [todos]="(todos$ | async) | todoFilter: 'Pending'" (onUpdateTodo)="onUpdateTodo($event)"></app-todo-mini-list>
        </cdk-virtual-scroll-viewport>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="8">
      <ng-template #processingTodoTitle>
        Processing
        <nz-badge nzColor="rgb(45, 183, 245)"></nz-badge>
      </ng-template>
      <nz-card [nzTitle]="processingTodoTitle">
        <cdk-virtual-scroll-viewport itemSize="73" style="height: 200px">
        <app-todo-mini-list *ngIf="(loadingTodosStatus$ | async) === 'idle'; else skeletonList" [todos]="(todos$ | async) | todoFilter: 'Processing'"  (onUpdateTodo)="onUpdateTodo($event)"></app-todo-mini-list>
        </cdk-virtual-scroll-viewport>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="8">
      <ng-template #doneTodoTitle>
        Done
        <nz-badge nzColor="rgb(82, 196, 26)"></nz-badge>
      </ng-template>
      <nz-card [nzTitle]="doneTodoTitle">
        <cdk-virtual-scroll-viewport itemSize="73" style="height: 200px">
        <app-todo-mini-list *ngIf="(loadingTodosStatus$ | async) === 'idle'; else skeletonList" [todos]="(todos$ | async) | todoFilter: 'Done'"  (onUpdateTodo)="onUpdateTodo($event)"></app-todo-mini-list>
        </cdk-virtual-scroll-viewport>
      </nz-card>
    </div>
  </div>
</div>

<ng-template #skeletonList>
  <nz-skeleton [nzParagraph]="{ rows: 1 }"></nz-skeleton>
  <nz-skeleton [nzParagraph]="{ rows: 1 }"></nz-skeleton>
  <nz-skeleton [nzParagraph]="{ rows: 1 }"></nz-skeleton>
</ng-template>
