<div style="padding:30px;">
  <div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="16">
      <nz-card nzTitle="Add todo">
        <app-todo-form></app-todo-form>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-card nzTitle="All todos">
        <cdk-virtual-scroll-viewport itemSize="73" style="height: 200px">
          <app-todo-mini-list [todos]="todos$ | async"></app-todo-mini-list>
        </cdk-virtual-scroll-viewport>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-card nzTitle="Processing todos">
        <app-todo-mini-list [todos]="todos | todoFilter: 'Processing'"></app-todo-mini-list>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-card nzTitle="Done todos">
        <app-todo-mini-list [todos]="todos | todoFilter: 'Done'"></app-todo-mini-list>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-card nzTitle="Pending todos">
        <app-todo-mini-list [todos]="todos | todoFilter: 'Pending'"></app-todo-mini-list>
      </nz-card>
    </div>
  </div>
</div>
